@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-background: #1C1C1C;  /* Charcoal Black */
    --color-text: #EAEAEA;  /* Neutral Off-White */
    --color-highlight: #C08457;  /* Soft Bronze */
    --color-hover: #A35D3B;  /* Deep Bronze */

    --font-monserrat: "Montserrat", sans-serif;
    --font_krona: "Krona One", sans-serif;
}
*{
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 10%;
}
.header__menu{
    display: flex;
    gap: 80px;
    
}
.header__menu__link{
    font-family: var(--font-monserrat);
    font-size: 24px;
    font-weight: 600;
    color:var(--color-highlight);
    text-decoration: none;
}
.presentation{
    display: flex;
    align-items: center;
    padding: 5% 10%;
    justify-content: space-between;
    gap: 50px;
}


.presentation__content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title{
    font-family: var(--font_krona);
    font-size: 36px;
}

.title-highlight{
    color: var(--color-highlight) 
}

.presentation__content__text{
    font-size: 24px;
    font-family: var(--font-monserrat);
}

.presentation__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentation__links_subtitle{
    font-family: var(--font_krona);
    font-size: 24px;
    font-weight: 400;
}
.presentation__links__button{
    width: 378px;
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 8px;
    font-family: var(--font-monserrat);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    border: 2px solid var(--color-highlight);
    display: flex;
    justify-content: center;
    gap: 10px;

}
.presentation__links__button:hover{
    background-color: var(--color-hover);
}


.footer{
    background-color: var(--color-highlight);
    padding: 24px;
    color: var(--color-background);
    text-align: center;
    font-family: var(--font-monserrat);
    font-size: 24px;
    font-weight: 400;
}